body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #025e82;
  color: #025e82;
  padding: 30px;
  background-position: center;
  background-size:cover;
}

.app {
  margin: 0 auto 100px;
  padding: 25px 25px;
  border-radius: 15px;
  max-width: 600px;
  background-color:azure;
}

input {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

button {
  cursor: pointer;
  margin: 3px;
  border-radius: 5px;
  border: none;
  padding: 3px 15px;
  transition: 0.3s;
  color: azure;
  background-color: #025e82;
}
button:hover{
background-color: #78dcfc;
}
p{
  margin:10px 0;
}

.delete {
  background-color: rgb(199, 20, 20);
  color: azure;
  opacity: 0.8;  
}

.delete:hover{
  opacity: 1.0;
  background-color: rgb(199, 20, 20);
}

.edit { 
  opacity: 0.7;
  color: azure;
  background-color: #25ebe1ec;
}

.edit:hover{
  opacity:1.0;
  background-color: #25ebe1ec;
} 
.complete {
  background-color: rgb(29, 212, 29);
  opacity: 0.8;
}

.complete:hover{
background-color: rgb(29, 212, 29);
opacity:1.0;
}

input {
  box-sizing: border-box;
}
.todo{
  padding:10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px #025e82;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todoForm {
  padding: bottom 1.5rem;;
}

.todoList{
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #025e82;
  border-top: 1px solid #025e82;
  margin-top: 15px;
  padding-top:15px;

}

input, select {
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border:1px solid #025e82;
}

.filter, .search {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
